@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --red: #d01c28;
  --gray: #2e2e2e;
  padding: 40px;
}
* {
    margin: 0;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }
nav {
  display: flex;
  justify-content: space-between;
  height: 72px;
  align-items: center;

}
nav img{
    width: auto;
    padding: 12px;
}
nav ul{
    color: goldenrod;
    font-family: 'Poppins', sans-serif;
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;

}

nav button{
    padding: 20px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 14px 24px;
    border: none;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
    color: #fff;

}
.hero {
    display: flex;
    align-items: center;
    height: calc(100vh - 72px);
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }
  .hero h1 {
    font-weight: 800;
    line-height: 102px;
    font-size: 108px;
  }
  .hero p {
    font-weight: 600;
    color: var(--gray);
    max-width: 400px;
  }
  
  .hero-btn {
    display: flex;
    gap: 40px;
  }
  .hero-btn button {
    font-size: 24px;

    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 17px 48px;
    color: #fff;
    background-color: #1ED760;
    height: 48px;
    :hover{
        transform: scale(1.04);
        background-color: #21e065;
    }

    
  }
  .secondary-btn {
    background: transparent;
    color: var(--gray);
    border: 1px solid gray;
  }
  
  .shopping p {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .brand-icons {
    display: flex;
    gap: 16px;
  }