nav {
  display: flex;
  justify-content: space-between;
  height: 72px;
  align-items: center;

}
nav img{
    width: auto;
    padding: 12px;
}
nav ul{
    color: goldenrod;
    font-family: 'Poppins', sans-serif;
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;

}

nav button{
    padding: 20px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 14px 24px;
    border: none;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
    color: #fff;

}